<header class="header">
    <a href="/" class="header_logo">Nodejs</a>

    <nav class="header_nav">
        <ul>
            <li>
                <a href="/" class="<%= isActiveRoute('/', currentRoute) %>">Home</a>
            </li>
            <li>
                <a href="/about" class="<%= isActiveRoute('/about', currentRoute) %>">About</a>
            </li>
            <li>
                <a href="/contact" class="<%= isActiveRoute('/contact', currentRoute) %>">Contact</a>
            </li>
        </ul>
    </nav>

    <div class="header_btn">
        <button class="searchBtn" aria-expanded="false">
            search
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </div>
</header>