<div class="search_bar">
    <div class="container">
        <form class="search_form" action="/search" role="search" method="post">
            <input type="search" aria-label="Search" id="searchInput" name="searchTerm"
                placeholder="Search some name articles in this here..." />
        </form>
        <i id="searchClose" class="fa-solid fa-xmark"></i>
    </div>
</div>